/*fuente de texto: css:familia tipográfica: 'Nunito', sans-serif;*/
@import url('https://fonts.googleapis.com/css2? family= Nunito:ital,wght@0,200;0,700;1,200;1,700 & display=swap');

* {margin:0; padding:0;}
html, body{
    width: 100%;
    height: 100vh;
    font-family:'Nunito', sans-serif;
    
}
/*------CONFIGURACION PARA MOBILEFIRST DEL INDEX--------*/
#wrapper{
    display: grid;
    grid-template-areas: 
    "miheader"
    "tituloprincipal"
    "intro"
    "desarrollo"
    "presentacion"
    "mifooter";
    
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    grid-column-gap:5px;
    grid-row-gap:5px;
    width: 100%;
    height: 100vh;
}

header{
    grid-area:miheader;
    display: flex;
    background-color: #162b6e;
    justify-content:left;
    align-items: left;
}

.logo{ 
    display: flex;
    justify-content: left;
    margin-left: 5px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid #aadce5;
}

/*aside:presentacion en margen izquierdo*/
aside{
    grid-area: presentacion;
    display: flex;
    flex-wrap: wrap;
    background-color: #aadce5;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
}

.titulodepresentacion{
    text-align: center;
    font-size: small;
}

/*1°seccion: titulo principal*/
.titulo_principal{
    grid-area: tituloprincipal;
    display: flex;
    flex-wrap: wrap;
    color:#162b6e;
    font-size: 18px;
    align-items: center;
}

/*2°seccion: intro*/
article#intro{
    grid-area: intro;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro_img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border:5px solid #aadce5;   
}

.intro_parrafo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family:'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#162b6e;   
}

/*3°seccion:desarrollo*/
section#desarrollo{
    grid-area:desarrollo;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulosecundario{
    text-align: center;
    font-size: bold;
    color: #162b6e;
} 

.fundamentos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fundamentos_img{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 5px solid #aadce5;
    margin-bottom: 2rem;
}

.fundamentos_parrafo{
    display: flex;
    flex-wrap: wrap;
    font-family:'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:#162b6e;
}

/*CONFIGURACION MOBILEFIRST DE LA PAGINA ACTIVIDADES*/
h1{
    text-align: center;
    padding: 2px;
    font-size: 20px;
    color: #162b6e;
}

.actividades_img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid #1ecbe1;    
}

.titulo_actividades{
    color:#5d18a6;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206,89,55,0);  /*gradientes en titulo*/    
    text-align: left;
    font-family:'Nunito', sans-serif;
    font-size: 40px;
    padding-left: 2rem;
    width: 250px;
    height: 75px;
}

.animate-big{
    width:250px;
    height: 75px;
    transition: width .5s,heigth .5s;
}

.animate-big:hover{
    width: 270px;
    height: 80px;
    color:#1ecbe1;
}

/*como estan dispuesta la imagen y el texto: filas y titulo en paralelo*/
.disposicion_actividades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;  
}

@keyframes color-transition{
    0%{background-image:radial-gradient(circle at center, #aadce5, #1d94a4);}
    15%{background-image:radial-gradient(circle at center,#391E46, #20585F);}
    30%{background-image:radial-gradient(circle at center,#391E46, #8EE1FA);}
    45%{background-image:radial-gradient(circle at center,#391E46, #4CD8CB);}
    60%{background-image:radial-gradient(circle at center,#391E46, #2BABA3);}
    75%{background-image:radial-gradient(circle at center,#391E46, #047D72);}
    90%{background-image:radial-gradient(circle at center,#391E46, #3D9CC3);}
    100%{background-image:radial-gradient(circle at center, #aadce5, #1d94a4);}
}

.color-transition{
    background-image:radial-gradient(circle at center, #aadce5, #1d94a4);/*gradientes en color*/
    animation-name: color-transition;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

/*CONFIGURACION MOBILEFIRST DE LA PAGINA BIBLIOGRAFIA*/
/* titulo: bibliografia= centrado y en violeta*/
.titulo__de__seccion{
    color:#1ecbe1;
    text-align: center;
    border: 1px solid #1ecbe1;
    padding-top: 1rem;
    font-family:'Nunito', sans-serif;;
    font-size: 16px;
    margin: auto;
}

/* como esta dispuesta los titulos y los subtemas*/
.disposicion_bibliografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;              
}

#obstetriciaclinica{
    display: flex;
    border: 2px solid #1ecbe1;
    font-size: 30px;
    color:#1d94a4;
}

#obstetricianormal{
    display: flex;
    border: 2px solid #1ecbe1;
    font-size: 30px;
    color:#1d94a4;
}

#obstetriciapatologica{
    display: flex;
    border: 2px solid #1ecbe1;
    font-size: 30px;
    color:#1d94a4;
}

.dt{
    font-size: 20px;
    text-align: center;
}

dd{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    text-decoration:underline;
    color: #162b6e;    
}

/* CONFIGURACION MOBILEFIRST DE LA PAGINA NOVEDADES*/
 /*distribucion de las imagenes y titulos*/   
 .disposicion_novedades{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;        
}
/*Formato para la imagen*/
.novedades_img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid #1ecbe1; 
    
}

/*formato para el titulo novedades*/
.titulo_novedades{
    color:#1ecbe1;
    text-align: center;
    font-family:'Nunito', sans-serif;;
    font-size: 40px;
}


/*CONFIGURACION MOBILEFIRST DE LA PAGINA CONTACTOS*/
h1{
    text-align: center;
    padding: 2px;
    font-size: 18px;
    color: #162b6e;
}

.disposicion_texto{
    text-align: center;
    padding-top: 1rem;
}

.mapa{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border:3px solid #aadce5;
}

.articulo{
    padding: 1rem;
    line-height: 1.3;
}

#consulta{
    height: 100%;
    width: 90%;
    border:1px solid blue;
    margin: 1rem;
}

.configuracion_formulario{
    margin: 1rem;
}

.config_texto{
    margin: 10px;
    color:black
}
/*LA NUMERACION DE LOS WRAPPER CORRESPONDEN AL ORDEN DE APARICION DE LAS PAGINAS EN EL SITIO*/
/*CONFIGURACION DEL INDEX PARA MEDIAQUERIES 992PX*/
@media screen and (min-width: 992px){
    #wrapper{
        display: grid;
        grid-template-areas: 
        "miheader miheader"
        "tituloprincipal tituloprincipal"
        "intro presentacion"
        "desarrollo presentacion"
        "mifooter mifooter";
        grid-template-columns:80% 20% ;
        grid-template-rows: auto auto 1fr 1fr auto;
    }

    aside{
        visibility: visible;
        grid-area: presentacion;
        background-color: #aadce5;
        font-size: 10px;
        text-align: justify;
        line-height: 1.5;
        padding: 14px;
    }

    header{
        grid-area:miheader;
        display: flex;
        background-color: #162b6e;
        justify-content:space-around;
        align-items: center;
    }

    .logo{ 
        display: flex;
        margin-left: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 5px solid #aadce5;
    }

     /*1°seccion: titulo principal*/
    .tituloprincipal{
        grid-area: tituloprincipal;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 20px bold;
        color: #162b6e;
    }

    /*2°seccion: intro*/
    article#intro{
        grid-area: intro;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .introduccion {
        display: flex;
        justify-content: center;
        margin-left: 250px;
        margin-right: 1rem;
    }

    .intro_img{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border:5px solid #aadce5;      
    }

    .intro_parrafo{
        display: flex;
        justify-content: center;
        font-weight: lighter;
        font-size: 14px;
        line-height: 1.3;
        margin-top: 1rem;     
    }

    /*3°seccion:desarrollo*/

    section#desarrollo{
        grid-area:desarrollo;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulosecundario{
        justify-content: left;
        padding-top: 1rem;
        font-size: bold;
        color: #162b6e;
    }

    .fundamentos{
        display: flex;
        justify-content: center;
        margin-left: 300px;
        margin-right: 2rem;
        margin-bottom: 1 rem;
    }

    .fundamentos_img{
        display: flex;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border: 5px solid #aadce5;
    }

    .fundamentos_parrafo{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        font-weight: lighter;
        font-size: 14px;
        line-height: 1.3;
    }

    /*CONFIGURACION DE LA PAGINA DE ACTIVIDADES PARA MEDIAQUERIES 992PX*/
    #wrapper1{
        display: grid;
        grid-template-areas: 
        "miheader miheader miheader"
        "tituloprincipalpagsecundaria tituloprincipalpagsecundaria tituloprincipalpagsecundaria"
        "clases ejercicios simuladores"
        "mifooter mifooter mifooter";
        grid-template-columns:33% 33% 33% ;
        grid-template-rows: auto auto 1fr auto;
        grid-row-gap: 5px;
        grid-column-gap:5px;
        width: 100%;
        height: 100vh;        
    }

    section#titulo__principal__paginas__secundarias{
        grid-area:tituloprincipalpagsecundaria;
        display: flex;
        justify-content: center;
        font-size: 16px;    
    }

    section#clases{
        grid-area:clases;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section#ejercicios{
        grid-area: ejercicios;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section#simuladores{
        grid-area: simuladores;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1{
        text-align: center;        
        font-size: 18px;
        color: #162b6e;
        padding: 2px;
    }

    .actividades_img{
        display: flex;
        width: 30%;
        height: 30%;
        border-radius: 50%;
        border: 5px solid #aadce5;    
    }

    .titulo_actividades{
        display: flex;
        color:#5d18a6;
        justify-content: center;
        font-family:'Nunito', sans-serif;;
        font-size: 40px;
        margin-top: 1rem;
        padding: 0;
        width: 250px;
        height: 75px;
    }

    .disposicion_actividades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    /*CONFIGURACION DE LA PAGINA DE BIBLIOGRAFIA PARA MEDIAQUERIES 992PX */
    #wrapper2{
        display: grid;
        grid-template-areas: 
        "miheader miheader miheader"
        "tituloprincipalpagsecundaria tituloprincipalpagsecundaria tituloprincipalpagsecundaria"
        "obstetriciaclinica obstetricianormal obstetriciapatologica"
        "mifooter mifooter mifooter";
        grid-template-columns:33% 33% 33% ;
        grid-template-rows: auto auto 1fr auto;
        grid-row-gap: 5px;
        grid-column-gap:5px;
        width: 100%;
        height: 100vh;         
    }

    .disposicion_bibliografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }

    #obstetriciaclinica{
        display: flex;        
        border: 2px solid #1ecbe1;
        margin: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-size: 40px;
        color:#1d94a4;        
    }

    #obstetricianormal{
        display: flex;
        border: 2px solid #1ecbe1;
        margin: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-size: 40px;
        color:#1d94a4;        
    }

    #obstetriciapatologica{
        display: flex;
        border: 2px solid #1ecbe1;
        margin: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-size: 40px;
        color:#1d94a4;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*CONFIGURACION DE LA PAGINA DE NOVEDADES PARA MEDIAQUERIES 992PX*/
    #wrapper3{
        display: grid;
        grid-template-areas: 
        "miheader miheader"
        "tituloprincipalpagsecundaria tituloprincipalpagsecundaria"
        "cursos noticias"
        "mifooter mifooter";
        grid-template-columns:50% 50%;
        grid-template-rows: auto auto 1fr auto;
        grid-row-gap: 5px;
        grid-column-gap:5px;
        width: 100%;
        height: 100vh;        
    }

    section#cursos{
        grid-area:cursos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    section#noticias{
        grid-area:noticias;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*Formato para la imagen*/
    .novedades_img{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border: 10px solid #1d94a4;
    }

    /*formato para el titulo novedades*/
    .titulo_novedades{
        color:#1d94a4;
        text-align: center;
        font-family:'Nunito', sans-serif;;
        font-size: 40px;       
    }

    /*distribucion de las imagenes y titulos*/   
    .disposicion_novedades{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;           
    }

    /*CONFIGURACION DE LA PAGINA DE NOVEDADES PARA MEDIAQUERIES 992PX*/
    #wrapper4{
        display: grid;
        grid-template-areas: 
        "miheader miheader"
        "tituloprincipalpagsecundaria tituloprincipalpagsecundaria"
        "direcciondecontacto formulario"
        "mifooter mifooter";
        grid-template-columns:50% 50% ;
        grid-template-rows: auto auto 1fr auto;
        grid-row-gap: 5px;
        grid-column-gap:5px;
        width: 100%;
        height: 100vh;        
    }

    section#titulo__principal__pagsecundaria{
        grid-area:tituloprincipalpagsecundaria;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    section#direccion__de__contacto{
        grid-area: direcciondecontacto;
        display: flex;
        flex-direction: row;
    }

    section#formulario{
        grid-area: formulario;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#fff;
        color: #1d94a4;
        font-size: bold;
        
    }

    .config_texto{
        margin: 10px;
        color:#1d94a4;        
    }

    .mapa{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border:3px solid #aadce5;
        margin: 1rem;
    } 

} 
footer{
    grid-area:mifooter;
    background-color: #162b6e;
    padding-top: 15px;
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-size: 10px;
    color:#fff;   
}


.redes__sociales{
    letter-spacing: 4px;/*utilizo esta caracteristica de espaciado porque separa los caracteres de fontwasome*/
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}


