.imagen{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #aadce5;
    margin: 1rem;

    @media screen and (min-width: 768px){
        width: 100px;
        height: 100px;
        border: 5px solid #aadce5;           
    }
    @media screen and (min-width: 992px){
        width: 150px;
        height: 150px;
        border: 5px solid #aadce5;           
    }
    @media screen and (min-width: 1200px){
        width: 250px;
        height: 250px;
        border: 5px solid #aadce5;           
    }
}

.intro_img{
    @extend .imagen;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.fundamentos_img{
    @extend .imagen;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.actividades_img{
    @extend .imagen;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.novedades_img{
    @extend .imagen;
    display: flex;
    flex-wrap: wrap;
    align-items: center;     
}

.mapa{
    @extend .imagen;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    align-items: center;
}