$bibliografia:(
    "obstetriciaclinica":#1d94a4,
    "obstetricianormal":#5d18a6,
    "obstetriciapatologica":#162b6e
);
@each $temario, $color in $bibliografia {
    .subtitulo-#{$temario}{
        color:$color;
        font-size: map-get($font-size, 'medianagrande' );
    }
    
}

